@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400&family=Montserrat:ital,wght@0,200;0,300;0,400;1,300&family=Roboto+Slab:wght@200;400;500;600;700;800;900&display=swap');


body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.note {
  background-image: linear-gradient(0deg, rgba(39,154,241,1) 0%, rgb(91, 184, 255) 35%, rgba(245,251,255,1) 100%);
  white-space: pre-wrap;
  border-radius: 10px;
  border: solid 1px #e6e6e6;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
textarea {
  border: none;
  resize: none;
  background-color: transparent;
  font-family: "montserrat", sans-serif;
}
.note.new {
  background-color: aquamarine;
}
textarea:focus {
  outline: none;
  font-family: "montserrat", sans-serif;
}
.save {
  background-color: rgb(233, 233, 233);
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  border: solid 4px #279AF1;
}
.save:hover {
  background-color: #279AF1;
  cursor: pointer;
}
.delete-icon {
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: 10px;
  border: solid 4px #279AF1;
  font-family: "montserrat", sans-serif;
}
.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  font-family: "montserrat", sans-serif;
}
.search input:focus {
  outline: none;
}
.dark-mode {
  background-color: black;
  min-height: 100vh;
}
.dark-mode h1 {
  color: white;
}
